In [5]:
import pandas as pd
data=pd.Series(["orange","apple","banana","kwi","strwabery"]),
print(data)

0       orange
1        apple
2       banana
3          kwi
4    strwabery
dtype: object

In [18]:
import pandas as pd

DATA_1 = {
    'students': ['areeba', 'sbahat', 'kashaf', 'maliha', 'doaa'],
    'grade': [50, 90, 96, 99, 80],  # changed to integers
    'Department': ['DCSE', 'EE', 'CE', 'SE', 'AG']
}

data_frame = pd.DataFrame(DATA_1)


print(data_frame[['students','grade']])


print(data_frame[data_frame['grade'] > 80])


data_frame.set_index('students', inplace=True)
print(data_frame)

  students  grade
0   areeba     50
1   sbahat     90
2   kashaf     96
3   maliha     99
4     doaa     80
  students  grade Department
1   sbahat     90         EE
2   kashaf     96         CE
3   maliha     99         SE
          grade Department
students
areeba       50       DCSE
sbahat       90         EE
kashaf       96         CE
maliha       99         SE
doaa         80         AG

In [32]:
import pandas as pd
data = {
    'Student': ['Areeba', 'Sabahat', 'Kashaf', 'Maliha', 'Doaa', 'Zainab', 'Ahmed', 'Usman', 'Fatima', 'Hassan'],
    'Math': [85, 90, 78, 92, 88, 76, 80, 95, 89, 70],
    'Physics': [80, 85, 75, 95, 90, 70, 88, 93, 84, 65],
    'CS': [90, 88, 82, 97, 85, 78, 92, 96, 91, 72],
    'Department': ['CS', 'EE', 'CE', 'CS', 'ME', 'CE', 'CS', 'EE', 'CS', 'ME']
}
df = pd.DataFrame(data)

print(df)

   Student  Math  Physics  CS Department
0   Areeba    85       80  90         CS
1  Sabahat    90       85  88         EE
2   Kashaf    78       75  82         CE
3   Maliha    92       95  97         CS
4     Doaa    88       90  85         ME
5   Zainab    76       70  78         CE
6    Ahmed    80       88  92         CS
7    Usman    95       93  96         EE
8   Fatima    89       84  91         CS
9   Hassan    70       65  72         ME

In [37]:
df['average']=df[['Math','Physics','CS']].mean(axis=1)
print("-----------Average------\n",df)

-----------Average------
    Student  Math  Physics  CS Department    average
0   Areeba    85       80  90         CS  85.000000
1  Sabahat    90       85  88         EE  87.666667
2   Kashaf    78       75  82         CE  78.333333
3   Maliha    92       95  97         CS  94.666667
4     Doaa    88       90  85         ME  87.666667
5   Zainab    76       70  78         CE  74.666667
6    Ahmed    80       88  92         CS  86.666667
7    Usman    95       93  96         EE  94.666667
8   Fatima    89       84  91         CS  88.000000
9   Hassan    70       65  72         ME  69.000000

In [38]:
print(df.sort_values(by='average',ascending=True))

   Student  Math  Physics  CS Department    average
9   Hassan    70       65  72         ME  69.000000
5   Zainab    76       70  78         CE  74.666667
2   Kashaf    78       75  82         CE  78.333333
0   Areeba    85       80  90         CS  85.000000
6    Ahmed    80       88  92         CS  86.666667
1  Sabahat    90       85  88         EE  87.666667
4     Doaa    88       90  85         ME  87.666667
8   Fatima    89       84  91         CS  88.000000
3   Maliha    92       95  97         CS  94.666667
7    Usman    95       93  96         EE  94.666667

In [44]:
top=df.nlargest(5,"average")
print("First 5\n ",top)

First 5
     Student  Math  Physics  CS Department    average
3   Maliha    92       95  97         CS  94.666667
7    Usman    95       93  96         EE  94.666667
8   Fatima    89       84  91         CS  88.000000
1  Sabahat    90       85  88         EE  87.666667
4     Doaa    88       90  85         ME  87.666667

In [46]:
cs_students=df[df['Department']=='CS']
print(cs_students)

  Student  Math  Physics  CS Department    average
0  Areeba    85       80  90         CS  85.000000
3  Maliha    92       95  97         CS  94.666667
6   Ahmed    80       88  92         CS  86.666667
8  Fatima    89       84  91         CS  88.000000