In [3]:
import pandas as pd

structure = pd.DataFrame({
    "ID" : [1,2,3,4],
    "Name" : ["Alice","Bob","Charlie","David"],
    "Age": [25,30,35,40],
    "Salaray":[25,30,35,40],
})
print("Structured Data :\n",structure)

Structured Data :
    ID     Name  Age  Salaray
0   1    Alice   25       25
1   2      Bob   30       30
2   3  Charlie   35       35
3   4    David   40       40

In [6]:
unstructure="""
ALice is 25 years old.
Bob is 35.
Nida is 8.
Charlie 35  years old earns 3500.
"""
print("\nUnstructured Data : \n",unstructure)

Unstructured Data :

ALice is 25 years old.
Bob is 35.
Nida is 8.
Charlie 35  years old earns 3500.

In [8]:
import numpy as np
heights = np.array([170.5,124.4,1334,4333.3,123.3])
students= np.array([25,30,56,25])

print("Mean Height :" , np.mean(heights))
print("Total students:",np.sum(students))

Mean Height : 1217.1000000000001
Total students: 136

In [15]:
import pandas as pd
data ={
    'Color' : ['Red','orange','green','blue','red'],
    'Rating' :['good','excellent','poor','average','Good'] ,
    'Binary':[1,0,1,0,1]
}
df = pd.DataFrame(data)
df['Rating'] = pd.Categorical(df['Rating'],categories=['poor','average','Good','Excellent'], ordered=True)
print(df)
print("\nOrdinal",df['Rating'].cat.codes)

    Color   Rating  Binary
0     Red      NaN       1
1  orange      NaN       0
2   green     poor       1
3    blue  average       0
4     red     Good       1

Ordinal 0   -1
1   -1
2    0
3    1
4    2
dtype: int8

In [16]:
data_mean=[10,20,39,40]
mean=sum(data_mean)/len(data_mean)
print("Mean : ",mean)

Mean :  27.25

In [19]:
import numpy as np

data_median_odd=[5,10,15,23]
median_odd=np.median(data_median_odd)
print("Median(Odd count):",median_odd)

data_median_even=[3,6,9,12,15]
median_even=np.median(data_median_even)
print("Median(Even count):",median_even)

Median(Odd count): 12.5
Median(Even count): 9.0

In [21]:
import statistics
data_mode=[7,8,8,10,12,12,12,15,18]
mode=statistics.multimode(data_mode)
print("Mode(s):",mode)

Mode(s): [12]

In [1]:
import pandas as pd

data_ordinal = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Educational_level": ["Bachelor", "Master", "PhD", "High School"]  # Fixed "PhD"
}

df_ordinal = pd.DataFrame(data_ordinal)

# Define the order for educational levels
educational_order = ["High School", "Bachelor", "Master", "PhD"]

# Convert to an ordered categorical type
df_ordinal["Educational_level"] = pd.Categorical(
    df_ordinal["Educational_level"],
    categories=educational_order,
    ordered=True
)

# Print the dataframe
print("\nOrdinal Data:\n", df_ordinal)

# Print the corresponding codes
print("\nOrdinal Codes:\n", df_ordinal["Educational_level"].cat.codes)

Ordinal Data:
       Name Educational_level
0    Alice          Bachelor
1      Bob            Master
2  Charlie               PhD
3    David       High School

Ordinal Codes:
 0    1
1    2
2    3
3    0
dtype: int8

In [1]:
print("Hello! neend arahi hai")

Hello! neend arahi hai

In [2]:
print("Tu so jao")

Tu so jao

In [3]:
print ("Ni so nai skti")

Ni so nai skti

In [4]:
print("Phir muje kiya kehti ho")

Phir muje kiya kehti ho

In [5]:
print("bhar mai jao")

bhar mai jao

In [ ]:
import numpy